@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Questrial');

/* body */

body {
    font-family: 'Montserrat', serif;
    font-family: 'Questrial', serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}


/* Search */

.Search {
    display: none;
    position: fixed;
    top: -1000px;
    height: 100vh;
    background: #4bb8d4;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    animation: SearchAnimation 1.2s;
    animation-fill-mode: both;
    overflow: auto;
    padding: 20px 0;
}

.Search.open {
    display: block;
}

.Search.closed {
    display: none;
}

.Search i {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.Search i:hover {
    cursor: pointer;
    color: black;
}

.Search-body {
    margin-top: 80px;
    padding: 15px;
    text-align: center;
}

.Search div>h2 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.SearchChild {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SearchChild input {
    height: 56px;
    width: 250px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    padding: 3px 17px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
}

.SearchChildClose {
    text-align: center;
    margin-top: 40px;
}

.SearchChildClose span {
    font-size: 40px;
    border: 2px solid white;
    background: #4bb8d4;
    padding: 25px;
    border-radius: 50%;
    color: white;
    padding-top: 20px;
}

.SearchChildClose span:hover {
    background: white;
    color: #4bb8d4;
    cursor: pointer;
}

.FooterSearch {
    margin-top: 20px;
    text-align: center;
}

.FooterSearch p>strong {
    color: white;
}

.FooterSearch div>span {
    color: white;
}

.body-space {
    margin-top: 16px;
    padding: 40px 0;
}

.ContentTabs {
    margin-top: 30px;
}


/* MenuWeb */

.MenuDrawer {
    display: none;
}

.MenuWeb {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 4rem;
}

.MenuWebLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.MenuWebLogo img {
    width: 30px;
    margin-right: 10px;
}

.MenuWebLogoTitle strong {
    letter-spacing: 4px;
}

.MenuWebLogoTitle span {
    font-size: 10px;
    color: rgb(180, 180, 180);
}

.MenuWebLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.MenuWebLinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.MenuWebLinks ul>li {
    list-style: none;
    padding: 10px 30px;
    margin: 0 2px;
    letter-spacing: 2px;
    background-color: white;
}

.MenuWebLinks ul>li:hover,
.MenuWebLinks ul>li.active {
    color: white;
    cursor: pointer;
    animation: Background 1.2s;
    animation-fill-mode: both;
}

.MenuWebLinks span {
    color: #4bb8d4;
    margin-left: 20px;
    padding: 6px;
}

.MenuWebLinks span:hover {
    color: white;
    background-color: #4bb8d4;
    cursor: pointer;
    border-radius: 50%;
}


/*  menu movil */

.MenuDrawer {
    position: fixed;
    padding: 10px;
    z-index: 1;
    width: 100%;
    background: #4bb8d4;
    box-shadow: 0 2px 11px -3px #4bb8d4;
}

.MenuDrawerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    margin: -17px;
    height: 74px;
    background: #4bb8d4;
    box-shadow: 0 2px 11px -3px #4bb8d4;
    padding: 4px 4px;
}

.MenuDrawerHeader-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-top: 10px;
}

.MenuDrawerHeader-1 div>strong {
    color: white;
    font-size: 22px;
}

.MenuDrawerHeader-1 div>span {
    color: white;
    font-size: 8px;
}

.MenuDrawerHeader img {
    width: 40px;
    padding-right: 10px;
}

.MenuDrawerHeader i {
    padding-right: 14px;
    font-size: 30px;
    color: #ffffff;
    padding-top: 10px;
}

.MenuDrawerHeader i:hover {
    cursor: pointer;
    color: #000;
}

.MenuDrawer-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 94%;
}

.MenuDrawer-button span {
    color: #ffffff;
    background: #4bb8d4;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #4bb8d4;
    box-shadow: 0 2px 11px -3px #4bb8d4;
}

.MenuDrawer-button span:hover {
    color: #4bb8d4;
    background: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 9px -3px #4bb8d4;
}

.MenuDrawer-button strong {
    margin-left: 18px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.MenuDrawer-button i {
    font-size: 20px;
    color: white;
    padding-right: 10px;
}

.MenuDrawer-content {
    height: 100vh;
    background: white;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: auto;
    box-shadow: 10px 0 12px -9px #767575;
    margin-left: -200px;
}

.MenuDrawer-content.open {
    display: block;
    animation: OpenMenuMobil 1s;
    animation-fill-mode: both;
}

.MenuDrawer-content.closed {
    animation: OpenMenuMobilClosed 1s;
    animation-fill-mode: both;
}

.MenuDrawer-content-links {
    margin-top: 40px;
}

.MenuDrawer-content-links ul {
    padding: 0;
}

.MenuDrawer-content-links ul>li {
    padding: 17px;
    font-weight: bold;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MenuDrawer-content-links ul>li.active,
.MenuDrawer-content-links ul>li:hover {
    background: #4bb8d4;
    border-bottom: 1px solid #4bb8d4;
    cursor: pointer;
    color: white;
}


/* Header */

.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    height: fit-content;
    animation: BackgroundHeader 1.2s;
    animation-fill-mode: both;
}

.HeaderContent {
    text-align: center;
    padding: 20px 0;
}

.HeaderContent img {
    width: 36%;
}

.HeaderContent strong {
    margin-top: 40px;
    color: black;
    letter-spacing: 6px;
    animation: HeaderContent-strong 1.2s;
    animation-fill-mode: both;
}

.HeaderContent p {
    color: black;
    margin: 10px 0;
    letter-spacing: 3px;
}

.HeaderContent button {
    color: #4bb8d4;
    background-color: white;
    border: 2px solid #4bb8d4;
    padding: 10px 20px;
    font-size: 11px;
}

.HeaderContent button:hover {
    cursor: pointer;
    color: white;
    background-color: #4bb8d4;
    border: 2px solid white;
}


/* Content */

.Content {
    padding: 50px 10%;
    text-align: center;
    padding-top: 0;
}

.ContentOrder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContentOrder span {
    color: #4bb8d4;
    margin: 0 5px;
    padding: 5px;
}

.ContentOrder span:hover {
    background-color: #f8f8f8;
    cursor: pointer;
    border-radius: 5%;
}


/* contacto */

.Contact h3 {
    margin: 0;
}

.ContactContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ContactItem {
    margin: 10px;
    background: white;
    box-shadow: 0 5px 17px -14px #000000;
    padding: 20px;
    min-width: 180px;
    text-align: center;
    border-radius: 13px;
}

.ContactItemHeader {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.ContactItemHeader a {
    margin: 10px;
    background: white;
    box-shadow: 0 5px 17px -14px #000000;
    padding: 20px 30px;
    text-align: center;
    border-radius: 6px;
    text-align: center;
    font-size: 15px;
}

.ContactItemHeader a,
.ContactItem a {
    text-decoration: none;
    font-size: 15px;
}

.ContactItemHeader a>i,
.ContactItem a>i {
    margin-right: 10px;
}

.ContactItem1 a {
    color: #7d7f80 !important;
}

.ContactItem2 a {
    color: #4bb8d4 !important;
}

.ContactItem3 a {
    color: green !important;
}


/* estilos vista grid - 2*/

.ContentBody {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 250px));
    grid-gap: 20px;
    grid-auto-flow: row;
    justify-content: center;
}

.ContentBodyBox {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

.ContentBodyBox img {
    /*width: 100%;
    object-fit: cover;*/
    width: 250px;
    height: 250px;
    object-fit: contain;
    background-color: #f8f8f8;
    padding: 2px;
}

.ContentBodyItemNoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #4bb8d4;
}

.ContentBodyItemNoContent:hover {
    border: 4px solid #4bb8d4;
    color: white;
    cursor: pointer;
    animation: Background 1.2s;
    animation-fill-mode: both;
}

.ContentBodyBoxItem {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContentBodyBoxItem div>strong {
    font-size: 20px;
    color: white;
    letter-spacing: 4px;
    font-weight: bold;
    display: none;
}

.ContentBodyBoxItem div>hr {
    width: 80%;
    display: none;
}

.ContentBody div>span {
    color: white;
    letter-spacing: 2px;
    display: none;
}

.ContentBodyBoxItem:hover {
    animation: Background 1.2s;
    animation-fill-mode: both;
    cursor: pointer;
}

.ContentBodyBoxItem:hover div>strong,
.ContentBodyBoxItem:hover div>hr,
.ContentBodyBoxItem:hover div>span {
    display: block;
}


/* estilos vista list */

.ContentBody-list {
    display: block;
}

.ContentBodyItem-list img {
    width: 300px;
    height: 150px;
    min-width: 300px;
    object-fit: contain;
    border-radius: 5%;
    box-shadow: 0 2px 10px -3px #c7c7c7;
    animation: ContentBodyItem-img 1.2s;
    animation-fill-mode: both;
}

.ContentBodyItem-list {
    border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.ContentBodyItemBody-list {
    width: 100%;
    margin-top: 20px;
}

.ContentBodyItemBody-list div>hr {
    height: 2px;
    background: #000000;
    border-radius: 10px;
    width: 80%;
    border: 0;
}

.ContentBodyItemBody-list div>strong,
.ContentBodyItemBody-list div>span {
    color: black;
}


/* btn ver mas -> solo en menu 1: ALL */

.content-btn-see-more {
    margin-top: 40px;
}

.content-btn-see-more button {
    color: white;
    background-color: #4bb8d4;
    border: 2px solid white;
    font-size: 16px;
    letter-spacing: 3px;
    padding: 10px 30px;
}

.content-btn-see-more button:hover {
    cursor: pointer;
    color: #4bb8d4;
    background-color: white;
    border: 2px solid #4bb8d4;
}


/* Clients */

.ClientsContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Clients {
    text-align: center;
}

.ClientItem {
    margin: 4px;
    height: 182px;
    border-radius: 2px;
    box-shadow: 0 12px 18px -3px #ebebeb;
    padding: 10px;
    width: 155px;
}

.ClientItem img {
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.ClientItem strong {
    margin-top: 20px;
    font-size: 12px;
    color: #505050;
}


/* Packages */

.PackagesContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.PackagesContentItem {
    margin: 4px 10px;
}

.PackagesContentItem h4 {
    background: #f8f8f8;
    padding: 17px;
    border-radius: 8px;
    box-shadow: 0 11px 18px -3px #f6f6f6;
    font-weight: bold;
    color: black;
}

.PackagesContentItem p {
    color: rgb(185, 185, 185);
}

.PackagesContentItem ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.PackagesContentItem ul>li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 6px 2px;
}

.PackagesContentItem ul>li>i {
    color: #4bb8d4;
    margin: 0 7px;
}

.PackagesContentItem div {
    width: 100%;
    margin-top: 36px;
    height: 40px;
}

.PackagesContentItem div>b {
    font-size: 27px;
    font-weight: 800;
}

.PackagesContentItem-onlie {
    margin-top: 30px;
}

.PackagesContentItem-onlie a>button {
    background-color: white;
    color: #51bbd5;
    padding: 10px 20px;
    border: 2px solid #51bbd5;
    border-radius: 3px;
    font-size: 30px;
}

.PackagesContentItem-onlie a>button:hover {
    background-color: #51bbd5;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
}

.PackagesContentItem-onlie a>button>i {
    margin: 0 5px;
}


/* Footer */

.Footer {
    text-align: center;
    height: 130px;
    background: white;
    z-index: 0;
    padding: 37px 10px;
    position: relative;
}

.FooterCopy p {
    font-size: 19px;
    color: rgb(196, 196, 196);
}

.FooterCopy p>strong {
    color: #4bb8d4;
}

.FooterSocial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterSocial span {
    color: rgb(196, 196, 196);
    margin: 0 12px;
    font-size: 32px;
    padding: 0;
}

.FooterSocial span:hover {
    color: #4bb8d4;
    cursor: pointer;
}


/* Animaciones */

@keyframes BackgroundHeader {
    0% {
        background-color: #4bb8d4;
    }
    100% {
        background-color: #ffffff;
    }
}

@keyframes Background {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #4bb8d4;
    }
}

@keyframes SearchAnimation {
    0% {
        top: -1000px;
    }
    100% {
        top: 0px;
    }
}

@keyframes OpenMenuMobil {
    0% {
        width: 0px;
    }
    100% {
        width: 270px;
        margin-left: 0px;
    }
}

@keyframes OpenMenuMobilClosed {
    0% {
        width: 270px;
    }
    100% {
        width: 0px;
        margin-left: -200px;
    }
}

@keyframes HeaderContent-strong {
    0% {
        font-size: 0px;
    }
    60% {
        font-size: 20px;
    }
    100% {
        font-size: 30px;
    }
}

@keyframes ContentBodyItem-list-img {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 300px;
        height: 150px;
        min-width: 300px;
    }
}


/* responsive */

@media (max-width: 900px) {
    .Content {
        padding: 20px;
    }
}


/*
@media (max-width: 810px) {
    .MenuWeb-top {
        display: none;
    }
    .MenuDrawer {
        display: block;
    }
}
*/

@media (max-width: 800px) {
    .ContentBody {
        grid-template-columns: repeat(2, 1fr);
    }
    .ContentOrder {
        margin: -20px;
        background: white;
        box-shadow: 0 5px 14px -10px #8c8c8c;
        padding: 7px;
    }
}

@media (max-width: 628px) {
    .MenuWebLinks ul>li {
        padding: 6px 10px;
    }
}

@media (max-width: 610px) {
    .ContentBody {
        grid-template-columns: repeat(2, 1fr);
    }
    .ContentBodyItem-list {
        margin: 20px 0;
    }
    .ContentBodyItem-list img {
        width: 60px;
        height: 60px;
        min-width: 60px !important;
        border-radius: 50%;
    }
    .ContentBodyItemBody {
        margin-top: 20px;
    }
    .ContentBodyItemBody-list {
        width: 100%;
        margin-top: 0;
        text-align: left;
        padding-left: 10px;
    }
    .ContentBodyItemBody-list div>hr {
        width: 100%;
        height: 1px;
        background: #efefef;
    }
}

@media (max-width: 574px) {
    .Header {
        padding-top: 100px;
    }
    .MenuWebLinks ul {
        display: block;
        text-align: left;
    }
    .MenuWebLinks ul>li {
        margin: 0;
        padding: 10px 30px;
    }
    .content-btn-see-more button {
        font-size: 12px;
        padding: 10px 20px;
    }
    .FooterCopy p {
        font-size: 13px;
    }
    .FooterSocial span {
        font-size: 16px;
    }
    .ContentBody {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    background: url(./hero-bg.png) top center no-repeat;
    background-size: cover;
  }
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #2a95e9;
  }
  .hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  .hero .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #4154f1;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
  }
  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  .hero .hero-img {
    text-align: right;
  }
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
    .hero .hero-img img {
        width: 85%;
      }
  }
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
    .hero .hero-img img {
      width: 80%;
    }
  }
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 32px;
    }
    .hero h2 {
      font-size: 24px;
    }
    .hero .hero-img img {
      width: 100%;
    }
  }